.articleDetailStyle{
        margin-top: 30px;
        width: 800px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        border: 3px solid rgb(255, 0, 0);
        border-radius: 2px;
    }
